In [1]:
import pandas as pd
data = pd.read_csv('data_raw.csv', names=['source', 'target', 'rating', 'time'])
processed = pd.read_csv('../data.csv')

In [2]:
data.drop(columns='time', inplace=True)
data.head()

   source  target  rating
0       6       2       4
1       6       5       2
2       1      15       1
3       4       3       7
4      13      16       8

In [5]:
data.to_csv('../data.csv', index=False)

In [8]:
processed.rating.max()

10.0

In [5]:
processed.rating = (processed.rating+10)/2

In [9]:
processed.to_csv('../data_normalized.csv', index=False)